<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .all_posts{
            width: 100vw;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 12px;
            grid-row-gap: 12px;
        }
        .card{
            width: 95%;
            /* height: auto; */
            background-color: #7703fc;
            padding: 10px 15px;
            color: #fff;
        }
        .card h1{
            text-align: center;
        }
        .card p{
            text-align: center;
        }
        .head{
            width: 100vw;
            background-color: #86d1bc;
            padding: 10px 15px;
            margin-bottom: 25px;
        }
        .head h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="head">
        <h2>All Posts</h2>
    </div>
    <div
     class="all_posts">
        @each(allPosts in allPosts)
        <div class="card">
            <h1> {{allPosts.title}} </h1>
            <p> {{allPosts.description}} </p>
        </div>
        @endeach
    </div>
</body>
</html>