<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-head {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4d918c;
  padding: 15px;
}
.sub-head h2 {
  font-family: "Roboto", sans-serif;
}
.form-button {
  display: flex;
  justify-content: center;
}
form,
.form-h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.form-btn {
  padding: 5px;
  background-color: #053668;
  font-size: 0.8rem;
  font-weight: 800;
  color: #fff;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: 1px solid #789beb;
  border-radius: 5px;
}
.form-label {
  font-weight: 600;
}
.form-name {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-email {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-phone {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-password {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form-redirect {
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}
.navbar{
    background-color: #4f3e9e;
    margin-bottom: 20px;
}
.left{
    margin-left: auto;
    margin-right: 10px;
}
.left .router-reg{
    color: #fff;
    margin-right: 15px;
}
.left .router-log{
    color: #fff;
}
input{
    padding: 5px;
}
.notification{
    color: #fff;
    background-color: red;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace
}
    </style>
</head>
<body>
    <div class="form-head">
        <div class="sub-head">
          <h2 class="form-h2">User Login</h2>
          @if(flashMessages.has('notification'))
             <p class="notification">{{flashMessages.get('notification')}}
            </p>
          @endif
          <form action="{{'/login'}}"method="post">
            <div class="form-email">
              <label class="form-label" for="email">Email &nbsp; : &nbsp;</label>
              <input
                type="email"
                autocomplete="off"
                name="email"
                placeholder="Enter your email"
              /><br />
            </div>
            <div class="form-password">
              <label class="form-label" for="password"
                >Password &nbsp; : &nbsp;</label
              >
              <input
                type="password"
                id="password"
                name="password"
                autocomplete="off"
                placeholder="Enter your password"
              />
              <br />
            </div>
            <div class="form-button">
              <button
                class="form-btn"
                name="submit"
                type="submit"
                @click.prevent="login"
              >
                Submit
              </button>
            </div>
          </form>
          <p class="form-redirect">
            Don't have an account? <a href="/"> Sign Up</a>         </p>
        </div>
      </div>
</body>
</html>